<div class="row">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="q" placeholder="Item name"/>
    </div>

    <table class="table table-striped">
        <th>Item Name</th>
        <th>Item Category</th>
        <th>Item Price</th>
        <th>Item Stock</th>
        <th>Actions</th>
        <tr ng-repeat="item in items | filter:q">
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.price}}</td>
            <td>{{item.inventory}}</td>
            <td>
                <a ui-sref="manageItems({itemId:item.rid})" class="btn btn-large btn-default">
                    Edit
                </a>
                <a ui-sref="manageItems({itemId:item.rid})" class="btn btn-large btn-default">
                    Delete
                </a>
            </td>
        </tr>
    </table>
</div>